{% extends "base.html" %}

{% block content %}
<section class="w-100 d-flex align-items-center justify-content-space row">
    <form class="col-12 col-lg-6" action="/signup" method="post">
        <h1>Sign Up</h1>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password" onkeyup="update_password()"
                minlength="8" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Password (again)</label>
            <input type="password" class="form-control" id="password2" onkeyup="update_password()" minlength="8" required>
        </div>
        <p class='text-danger' id="pass-error"></p>
        <p class="mt-3">Do you already have an account? login <a href="/login">here</a></p>
        <button type="submit" class="btn btn-primary" disabled>Register now</button>

        <div class="sign-up-buttons d-flex align-items-center justify-content-start mt-4">
            <p class="fs-6 m-0">Sign up with:</p>
            <a href="/signup/google">
                <img src="https://cdn.svgporn.com/logos/google-icon.svg" alt="google logo" style="width: 30px;" class="m-2">
            </a>
            <a href="/signup/github">
                <img src="https://cdn.svgporn.com/logos/github-icon.svg" alt="github logo" style="width: 30px;" class="m-2">
            </a>
        </div>
    </form>

    <img class="col-12 col-lg-6" src="https://i.imgur.com/v2zlP85.png" alt="sign up illustration">
</section>
{% endblock %}

{% block js %}
<script>
    
</script>
{% endblock %}